$htmlBackgroundColor: #010411;
$backgroundColor: #010c1e;
$bodyColor: #d5d9e0;
$bodyFont: Avenir, Helvetica, Arial, sans-serif;
$accentColor1: #4a6d88;
$accentColor2: #c6cdd7;

html {
  background-color: $htmlBackgroundColor;
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  width: unquote("max(800px, 80%)");
  margin: 0 auto;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}

nav {
  padding: 20px 0;
  border-bottom: 1px solid $accentColor1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  a {
    color: $accentColor1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 20px;
  }

  .active li {
    color: $accentColor2;
  }
}

@media only screen and (max-width: 480px) {
  nav ul {
    flex-wrap: wrap;
    gap: 10px;
  }
}

main {
  padding: 30px;
}

main a {
  color: inherit;
}

input {
  background-color: $accentColor2;
  outline: none;
}

a.exc {
  text-decoration: none;
}

a.exc p:last-child {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

table,
td,
th {
  border: solid $accentColor2 1px;
  border-collapse: collapse;
  padding: 0.3em;
}

hr {
  margin: 2.5rem 0;
}

table {
  margin-bottom: 1em;
}

blockquote {
  color: $accentColor2;
  border-left: solid $accentColor2 3px;
  padding-left: 10px;
  margin-left: inherit;
  font-style: italic;
}