---
title: Zufällige Frage
language: deutsch
---

<div id="chooseCat">
  {% for cat in site.data.fragen -%}
  <p>{{ cat.title }}</p>
  {% endfor -%}
</div>
{% for cat in site.data.fragen -%}
<div class="frage" id="{{ cat.title }}">
  <p id="{{cat.title}}"></p>
</div>
{% endfor -%}

<script>
  const data = ({{ site.data.fragen | jsonify -}}).map(e => ({[e.title]: e.entries.sort((a,b) => Math.random() > 0.5)})).reduce((acc, cur) => Object.assign(acc, cur), {})
  const rotate = (arr, reverse) => {
    if (reverse) {
      arr.unshift(arr.pop())
    } else {
      arr.push(arr.shift())
    }
    return arr
  }

  const hideOthers = (cat) => {
    if (Object.keys(data).includes(cat)) {
      document.querySelectorAll(".frage").forEach((e) => e.setAttribute("style", "display:none"))
      document.querySelector("#" + cat).setAttribute("style", "display:initial")
      document
        .querySelectorAll("#chooseCat p")
        .forEach((e) => e.setAttribute("style", "background-color:unset; color:unset"))
      Array.from(document.querySelectorAll("#chooseCat p"))
        .filter((e) => e.innerHTML === cat)
        .forEach((e) =>
          e.setAttribute(
            "style",
            `background-color: white; color:${getComputedStyle(document.querySelector("body")).backgroundColor}`
          )
        )
    } else {
      setCategory(Object.keys(data)[0])
    }
  }

  const setCategory = (cat, push = true) => {
    const url = new URL(window.location.href)
    url.searchParams.set("category", cat)
    if (push) history.pushState(null, "", url)
    else history.replaceState(null, "", url)
    hideOthers(cat)
  }

  const category = new URLSearchParams(window.location.search).get("category")
  if (category) hideOthers(category)

  for (const cat of document.querySelectorAll("#chooseCat p"))
    cat.addEventListener("click", (e) => setCategory(e.target.innerHTML))


  for (const cat of document.querySelectorAll(".frage p")) {
    cat.innerHTML = rotate(data[cat.id])[0]
    cat.addEventListener("click", (e) => (e.target.innerHTML = rotate(data[e.target.id], e.target.getBoundingClientRect().width/2+e.target.getBoundingClientRect().x<e.x)[0]))
  }
</script>

<style>
  main p {
    border: 2px solid white;
    padding: 0.5em;
  }

  .frage p {
    text-align: center;
    font-size: 1.5em;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
  }

  #chooseCat {
    display: flex;
    justify-content: space-evenly;
  }

  #chooseCat p {
    flex-grow: 1;
    text-align: center;
  }
</style>
